:root{
    // === txt ===
    --white: #fff;
    --white-100: #eff3f6;
    --black: #303233;
    --black-100: #000;
    --blue: #1785e5;
    --blue-100: #3692e3;
    --blue-200: #D4EAFF;
    // --blue-200: #C2F5FF;
    // --blue-300: #2998FF;
    // --red: #E8178A;
    // --red-100: #D1157C;
    

    // === family ===
    --second-family: "Proxima Nova Condensed", sans-serif;
}
