:root{
    // === txt ===
    --white: #fff;
    --white-100: #eff3f6;
    --black: #303233;
    --black-100: #000;
    --blue: #1785e5;
    --blue-100: #3692e3;
    --blue-200: #D4EAFF;  

    // === family ===
    --second-family: "Proxima Nova Condensed", sans-serif;
}
