:root{
    // === txt ===
    --white: #fff;
    --white-100: #F9FBFF;
    --black: #333333;
    --black-100: #000;
    --blue: #E8EEFF;
    --blue-100: #D4EAFF;
    --blue-200: #C2F5FF;
    --blue-300: #2998FF;
    --red: #E8178A;
    --red-100: #D1157C;

    // === family ===
    --second-family: "Proxima Nova Condensed", sans-serif;

}
