.optionsList{
    display: none;
    border-radius: 8px 0 0 8px;
    padding: 185px 0;
    width: 241px;
    border: 1px solid var(--blue-100);

    ul{
        width: 100%;
    }

    .item{
        min-height: 70px;
        border-bottom: 1px solid var(--blue-100);
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 22px;
    }

    @media (min-width: 1020px) {
        display: flex;
    }
} 