main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.wrapperBlocks{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 63px;
}

.hidden{
    display: none;
}

/* блоки на главной странице */
.block{
    border-radius: 3px;
    width: 100%;
    max-width: 370px;
    height: 335px;
    box-shadow: var(--box-shadow-one);
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 50px 36px;
}

.firstBlock{
    gap: 0;
    padding-top: 0;
}

.firstBlock .buttonOne{
    margin-block: -6px;

}

/* Стили для форм */
.formOne, .formTwo{
    box-shadow: var(--box-shadow-two);
    width: 100%;
    max-width: 670px;
    position: relative;
    display: none;
    flex-direction: column;
    margin-top: 50px;
}

.formOne.visible, .formTwo.visible {
    display: flex;
}

/* Первая форма */
.formOne{
    padding: 34px 29px 37px 37px;
}

.formOne .imageFormOne{
    position: absolute;
    top: 0;
    right: 30px;
    width: 203px;
    height: 191px;  
}

/* Вторая форма */
.formTwo{
    padding: 33px 27px 40px 37px;
}

.formTwo .imageFormTwo{
    position: absolute;
    top: 9px;
    right: 25px;
    width: 188px;
    height: 166px;  
}




