.mainPage {
    padding: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    align-items: center;

    .title{
        width: 500px;
        text-align: center;
    }

    .main{
        display: flex;
        gap: 30px;
    }
}
